<div class="col-lg-3">
    <button class="btn-success form-control" onclick="hrefFilm('Index')">Films</button>
</div>
<div class="col-lg-3">
    <button class="btn-success form-control" onclick="hrefActor('Index')">Actors</button>
</div>
