<div class="col-lg-3">
    <button class="btn-success form-control" onclick="films()">Films</button>
</div>
<div class="col-lg-3">
    <button class="btn-success form-control" onclick="actors()">Projects</button>
</div>
